.heading
  height: 110px
  align-items: center

  &__navbar
    display: flex
    justify-content: center
    gap: 43px
    height: max-content

    @media (max-width: 1700px)
      gap: 20px

    a
      color: #0C0E1A
      text-decoration: none

  &__logo

    justify-content: center


    text-align: center
    color: #6F66D7

    .right
      text-align: center
      color: #0C0E1A
